section {
	font-family: "SF Pro", "Roboto", "Arial", "Helvetica", sans-serif;
   	font-size: 24px;
   	}
p{
   	color: #3e5055;
}

li{
	display: inline;
}

.container{
	background: #fff;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.box{
	width: 600px;
	height: 980px;
	border-style: solid;
	border-color: #00a335;
	background-color: white;
	border-radius: 6px;

}

.result{
	width: 400px;
	height: 100px;
	border-style: solid;
	border-color: #000000;
	background-color: white;
	border-radius: 6px;

}

body{
	background-color: #ffffff;
}


input[type="number"] {
	padding-left: 5px;	
    border: #8B979F solid 1px;
    color: #3E5055;
    font-size: 15px;
    line-height: 35px;
    width: 195px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}



select.bitrate{
    border: #8B979F solid 1px;
    color: #3E5055;
    font-size: 15px;
    height: 40px;
	width: 200px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
	font-weight: 600;

}

select.bitrate > option:checked{
	box-shadow: 0 0 10px 100px #00A335 inset;
}

input.calc {
	font-family: "SF Pro", "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: 500;
	background: #00a335;
	color: #ffffff;
	border: 0;
	border-radius: 3px;
	padding: 15px 45px;
	font-size: 16px;
}

input.calc:hover {
	background: #00863F;
}



