section {
	font-family: "SF Pro", "Roboto", "Arial", "Helvetica", sans-serif;
   	font-size: 24px;
   	background: #00a335
   	}
p{
   	color: #3e5055;
}

p.calchd{
	color: #00a335;
	font-size: 30px;
}

li{
	display: inline;
}

.container{
	background: #00a335;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.box{
	width: auto;
	height: auto;
	border-style: solid;
	border-color: #00a335;
	background-color: white;
	border-radius: 6px;
}


body{
	background-color: #ffffff;
}


input[type="number"] {
	padding-left: 5px;	
    border: #8B979F solid 1px;
    color: #3E5055;
    font-size: 15px;
    line-height: 35px;
    width: 195px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}



select.bitrate{
    border: #8B979F solid 1px;
    color: #3E5055;
    font-size: 15px;
    height: 40px;
	width: 200px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
	font-weight: 600;

}

select.bitrate > option:checked{
	box-shadow: 0 0 10px 100px #00A335 inset;
}

input.calc {
	font-family: "SF Pro", "Roboto", "Arial", "Helvetica", sans-serif;
	font-weight: 500;
	background: #00a335;
	color: #ffffff;
	border: 0;
	border-radius: 3px;
	padding: 15px 45px;
	font-size: 16px;
}

input.calc:hover {
	background: #00863F;
}

img{
	max-width: 100%;
	height: auto;
}


.intelbras-modal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
  background: rgba(43, 46, 56, 0.9);}

.intelbras-modal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  padding: 10px 10px 0;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;}
  
 .intelbras-modal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;  
  text-align: left;
  border-radius: 3px;
}

.intelbras-modal-confirm {
  color: #fff;
  background: #00a335;
  border: #00a335 2px solid;}

.intelbras-modal-confirm:hover,
.intelbras-modal-confirm:focus {
  background: #00863F;
  color: #fff;
  border: #00863F 2px solid;}

.intelbras-modal-cancel {
  color: #3e5055;
  background: #fff;
  border: #8b979f 2px solid;}

.intelbras-modal-cancel:hover,
.intelbras-modal-cancel:focus {
  background: #Ebeeee;
  border: #8b979f 2px solid;
  color: #3e5055;}

.intelbras-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;}